*{
    margin: 0;
    padding: 0;
}
.container{
    height: 450px;
    width: 650px;
    background-color: #cebdbd;
    margin-left: 350px;
    border-radius: 20px;
    box-shadow: #A4A4A4;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;

}
.hello{
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
    font-style: italic;
    color: rgb(1, 77, 35);
}
/* .form{
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: rgb(19, 19, 18);
} */
#name{
    margin-left: 75px;
    padding: -10px;
    height: 46px;
    width: 450px;
    font-size: 25px;
    margin-top: 25px;
    border: none;
}
#msg{
    margin-left: 75px;
    padding: -10px;
    height: 46px;
    width: 450px;
    font-size: 25px;
    margin-top: 25px;
    border: none;
    /* columns: 10px;
    row-gap: 20px; */
}
button{
    width: 600px;
    height: 30px;
    margin-left: 20px;
    background-color: green;

}